/* FOOTER FORMATTING */
.footer{
  background-color: var(--dark-blue-primary);
  color: var(--white);
  text-align: center;
  padding: 4rem 0;
}

/* COL-ONE FORMATTING */
.footer .col-one div:first-child ul{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin: 2.5rem;
}

.footer .col-one div:last-child .menu-footer ul li{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer .col-one div:last-child .menu-footer ul li a{
  color: var(--white);
  transition: color 0.3s;
}

.footer .col-one div:last-child .menu-footer ul li a:hover{
  color: var(--lime-green-primary);
}

/* COL-TWO FORMATTING */
.footer .col-two{
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.footer .col-two button{
  display: block;
  margin: 2rem auto;
}

.footer .col-two p{
  color: var(--grayish-blue);
  font-size: 1.5rem;
}

@media (min-width: 768px){
/* FOOTER FORMATTING */
.footer{
  text-align: initial;
}

.footer .col-one{
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footer .col-one div:first-child ul{
  justify-content: flex-start;
  margin: 2.5rem 0;
}

.footer .col-one div:last-child .menu-footer{
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}

.footer .col-two button{
  margin: 2rem 0;
}

}

@media (min-width: 994px){
/* FOOTER FORMATTING */
.footer .container{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* COL-ONE FORMATTING */
.footer .col-one{
  width: 60%;
}

.footer .col-one div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .col-one div:first-child ul{
  margin-bottom: 0;
}

.footer .col-one div:last-child .menu-footer{
  gap: 8rem;
}

.footer .col-one div:last-child .menu-footer ul li:last-child{
  margin-bottom: 0;
}

/* COL-TWO FORMATTING */
.footer .col-two {
  margin: 0;
  align-items: flex-end;
}
}

@media (min-width: 1300px){
/* COL-ONE FORMATTING */
.footer .col-one{
  width: 50%;
}

}